* {
    box-sizing: border-box;
}
html {
    background: #69c269;
}
body {
    background: #fff;
    box-shadow: 1px 1px 5px 2px rgba(50, 50, 50, 0.5);
    font-family: 'Open Sans';
    font-size: 16px;
    line-height: 1.4em;
    margin: 3em auto;
    padding: 4em 4em;
    width: 59em;
}
a, a:visited {
    color: #2aaf00;
    text-decoration: none;
}
header {
    text-align: center;
}
h1 {
    font-size: 2.4em;
    font-weight: bold;
    line-height: normal;    
}
h2 {
    border-bottom: 1px solid #000;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.5em;
    margin-top: 1.5em;
}
h3 {
    font-weight: bold;
    margin-top: 1em;
}
h4 {
    font-style: italic;
}
header ul {
    margin-top: 0.5em;
    padding-left: 0;
}
header li {
    display: inline-block;
    margin: 0 1em;
}
.title-date {
    display: flex;
    justify-content: space-between;
    margin: 0.6em 0 0.3em;
}
ul {
    list-style-type: disc;
    padding-left: 2em;
}

@media (max-width: 600px) {
    html {
        background: none;
    }
    body {
        box-shadow: none;
        font-size: 14px;
        line-height: 1.3em;
        margin: 0;
        padding: 1em;
        width: 100%;
    }
    header ul {
        font-size: 1em;
    }
    header li {
        margin: 0 0.5em;
    }
    .non-mobile {
        display: none;
    }
    h1 {
        font-size: 2em;
    }
    h4 {
        margin-top: 1em;
    }
    ul {
        font-size: 0.85em;
    }
    .title-date {
        display: block;
    }
}
